@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #e4e4e7; /* zinc-200 */
    border-radius: 2px;
  }
  
  .dark .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #27272a; /* zinc-800 */
  }
  
  .custom-scrollbar:hover::-webkit-scrollbar-thumb {
    background: #d4d4d8; /* zinc-300 */
  }
  
  .dark .custom-scrollbar:hover::-webkit-scrollbar-thumb {
    background: #3f3f46; /* zinc-700 */
  }
}
